<% provide(:page_title, "Home") %>
<p id="notice"><%= notice %></p>


<table>
  <thead>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </thead>

  <tbody>
    <div class="jumbotron text-center">
    <div class="container">
  <div class="row">
    <div class="col-sm-8">
    <h1>Personal Work Portfolio</h1>
    <p>Showcasing developement work history </p>
    </div>
    <div class="col-sm-4">
            <br>
            <br>
            <% if user_signed_in? %>
            <li><%= link_to "Hi, #{current_user.email}", edit_user_registration_path %></li>
          
            <%= link_to '<button type="button" class="btn btn-secondary"> New Post </button>'.html_safe, new_post_path %>

          <% end %>




    </div>
  </div>
</div>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
    <div class="text-center">
      <h3>Profile</h3>
      <p>Greg Phares</p>
    
      <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFykmDnjDDQhA/profile-displayphoto-shrink_400_400/0/1618269774222?e=1623888000&v=beta&t=F2zS8dH3E_DNTlWLwDm5p3NnbKb1NkfGftg5wgGxTK0" class="img-circle" alt="Profile Picture" width="260" height="236">
      <br>
      <br>
     
    <!-- This is where the bio  Block text goes -->
    </div>
    <div class="text-center">
    <h3> Bio and Skills</h3>
    </div>
    <div class="panel panel-default">
    <div class="panel-body">About Me: 
      <br>
      I am a Senior at UCCS pursuing a CS degree, and hoping to Graduate here at the end of the Semester. I have lived in Colorado for about 24 years and I am loving the outdoors here. 
      <br>
      <br>
      Languages:
      Java, JavaScript, Python, HTML, C, C++, C#, SQL, LINUX, UNIX, CentOS, Ruby, Ruby on Rails, JSON, Agile SCRUM methodology, UI/UX design, Jira, GitHub, Virtual Machines Elasticsearch, Kubernetes, Cluster monitoring Prometheus and DaemonSet, Implementation and integration with ...
      </div>
    </div>
    
    <!-- Button for Bio -->
    <div class="text-center">
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
      More 
    </button>
    </div>
    
    <!-- Bio Button Action -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Extended Bio</h3> 
            </button>
          </div>
          <div class="modal-body">
            Currently a senior enrolled at UCCS majoring in Computer Science. I have experience in Java, JavaScript, Python, HTML, C, C++, C#, SQL, LINUX, UNIX, CentOS, Ruby, Ruby on Rails, JSON, Agile SCRUM methodology, UI/UX design, Jira, GitHub, Virtual Machines Elasticsearch, Kubernetes, Cluster monitoring Prometheus and DaemonSet, Implementation and integration with Jenkins. In addition, I am familiar with the Microsoft Office Suite. Other skills of mine include self-learning, troubleshooting, presentation, technical writing, group leadership, and project management.

            My primary objective is to enhance my existing skills and obtain additional professional software development experience. I am a self-driven individual who would like to gain more of a hands-on understanding of the software development industry. I aim to apply my current skillset working in an environment with colleagues who possess similar disciplines, to create a specialized and refined framework for continued career progression.

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
    </div>
    </div>
    <div class="col-sm-6">
      <div>
      <div class="text-center">
      <h3>Projects</h3>
      </div>
        <div class="row">
        
           <% @posts.each do | post|%>
            <div>
            
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=#<%= post.title%> aria-expanded="true" aria-controls=<%= post.title%>>
              <%= post.title%>
              </button>
            </h2>
            <div id=<%= post.title%> class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
              <%= post.title%>
              <br>
              <strong>Tags:</strong> <%= post.description %>
              <br>
              <% if user_signed_in? %>
              <%= link_to '<button type="button" class="btn btn-secondary"> More </button>'.html_safe, post %>
              <%= link_to '<button type="button" class="btn btn-secondary"> Edit </button>'.html_safe, edit_post_path(post) %>
              <%= link_to '<button type="button" class="btn btn-secondary"> Delete </button>'.html_safe, post, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>

              </div>
            </div>
          </div>
              

            <%end%>
            
        </div>
      </div>

    </div>
  </div>
</div> 



    
  </tbody>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<style>
.bg-4 {
  background-color: #2f2f2f;
  color: #ffffff;
}
</style>

<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="text-white" href="https://www.linkedin.com/in/gregory-phares-86a07320a/">LinkedIn Profile</a>
  </div>
  <!-- Copyright -->
</footer>